.productTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.productTable th,
.productTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.productTable th {
    background-color: #f2f2f2;
}



.actionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}